{% extends "base.html.twig" %}
{% block title %}Test 7{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}


	<h1>Produit 1</h1>
	<p>
		<strong>Nom</strong>
		{{ produit.nom }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.reference }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.typeConditionnement }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.quantite }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.emplacement}}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.prix }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.quota }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.stock }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.estActif ? 'Yes' : 'No'}}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.dateCreation | date('d-m-Y') }}</p>
	<p>
		<strong>Référence:</strong>
		{{ produit.dateMaj | date('d-m-Y') }}</p>

<a href="{{ path('test9') }}" class="btn">List of Product</a>
{% endblock %}
