{% extends "base.html.twig" %}

{% block title %}Liste des Produits
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}


	<h1>Produits</h1>

	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Fournisseur</th>
				<th>Categorie</th>
				<th>Référence</th>
				<th>Conditionnement</th>
				<th>Quant.</th>
				<th>Emplacement</th>
				<th>Prix</th>
				<th>Quota</th>
				<th>Stock</th>
				<th>Actif</th>
				<th>Création</th>
				<th>MAJ</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{# {{ dump(app.user.roles) }} #}
			{% for produit in produits %}
				<tr>
					<td>{{ produit.nom }}</td>
					<td>{{ produit.fournisseur.nom }}</td>
					<td>{{ produit.categorie.nom }}</td>
					<td>{{ produit.reference }}</td>
					<td>{{ produit.typeConditionnement }}</td>
					<td>{{ produit.quantite }}</td>
					<td>{{ produit.emplacement }}</td>
					<td>{{ (produit.prix / 100) | number_format(2, '.', ' ') }}
						€</td>
					<td>{{ produit.quota }}</td>
					<td>{{ produit.stock }}</td>
					<td>{{ produit.estActif ? 'OUI' : 'NON' }}</td>
					<td>{{ produit.dateCreation | date('d-m-Y') }}</td>
					<td>{{ produit.dateMaj | date('d-m-Y') }}</td>
					<td>
						<img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="{{ produit.imageName }}" height="100">
					</td>
					<td>
						<form method="get" action="{{ path('commande_add', { id: produit.id }) }}">
							<input type="number" name="quantite" min="1" value="1">
							<button type="submit" class="btnSuccess">Ajouter</button>
						</form>

						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LOGISTICIEN') %}
							<a href="{{ path('test10', { id: produit.id }) }}" class="btnViews">Modifier</a>
							<a href="{{ path('commande_add', { id: produit.id, quantite: 0 }) }}" class="btnSupprimer">Supprimer tout</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LOGISTICIEN') %}
		<a href="{{ path('test10') }}" class="btnViews">
			Nouveau produit</a>
	{% endif %}
{% if commande is defined and commande and commande.lignes|length > 0 %}
    <a href="{{ path('panier') }}" class="btnPanier"> Voir le panier</a>
{% endif %}

	{% endblock %}
