{% extends 'base.html.twig' %}

{% block title %}Userlist
{% endblock %}


{% block stylesheets %}
<linkUserlist</h1 rel="stylesheet" href="{{ asset('styles/test7.css') }}" {% endblock %}>

	{% block body %} <h1>
		<table class="m-auto">
			<thead>
				<td>Nom</td>
				<td>Prénom</td>
				<td>Role</td>
				<td>Téléphone</td>
				<td>Email</td>
				<td>Point de Vente</td>
				<td>
					<a href="/create">Ajouter</a>
				</td>
			</thead>
			{% for user in users %}
				{# Passer l'id à la fonction JS qui va faire le fetch: passer en paramètre, ou écouteur d'évènement et la fonction se sert de la prop target (type mouseclick, prop target => ce sur quoi on a cliqué, àpartir de la l'élément selctionné, avec un id produit=ok . Mettre des id dynamiques sur les éléments html) #}
				<tr>
					<td>{{ user.nom }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.roles|join(', ')}}</td>
					<td>{{ user.telephone }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.pointDeVente.nom }}</td>
					<td>
						<a href="/create/{{ user.id }}">Modifier</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endblock %}
